/*Account Section Starts Here*/
.login-with {
  margin: -15px;
  margin-bottom: 20px;
}

.login-with li {
  flex-grow: 1;
  padding: 15px;
}

.login-with li a {
  align-items: center;
  padding: 12px 15px;
  border: 1px solid rgba(97, 90, 191, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  justify-content: center;
  color: #171d1c;
  cursor: pointer;
}

.login-with li a i {
  margin-right: 7px;
}

.login-with li a i[class*="facebook"] {
  color: #3b5998;
}

.login-with li a i[class*="google"] {
  color: #dd4b39;
}

.login-with li a:hover {
  background: #ee4730;
  color: #ffffff;
}

.login-with li a:hover i {
  color: #ffffff;
}

.or {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.or::before {
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: rgba(97, 90, 191, 0.2);
}

.or span {
  display: inline-block;
  padding: 0 25px;
  background: #ffffff;
  position: relative;
  color: #171d1c;
  z-index: 1;
}

.account-wrapper {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(44, 46, 69, 0.11);
}

.account-wrapper .left-side {
  padding: 60px 30px 60px 60px;
  width: calc(100% - 350px);
}

.account-wrapper .right-side {
  background: -moz-linear-gradient(90deg,
      #5140fe 0%,
      #7757f7 56%,
      #9d6ef0 100%);
  background: -webkit-linear-gradient(90deg,
      #5140fe 0%,
      #7757f7 56%,
      #9d6ef0 100%);
  background: linear-gradient(90deg, #5140fe 0%, #7757f7 56%, #9d6ef0 100%);
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 60px 30px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

.account-wrapper .right-side .custom-button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
}

@media (max-width: 1199px) {
  .account-wrapper .left-side {
    padding-left: 30px;
  }
}

@media (max-width: 991px) {

  .account-wrapper .left-side,
  .account-wrapper .right-side {
    width: 100%;
  }

  .account-wrapper .right-side {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  .account-wrapper {
    display: block;
  }

  .login-with {
    display: block;
  }
}

@media (max-width: 575px) {

  .account-wrapper .left-side,
  .account-wrapper .right-side {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.login-form .form-group {
  position: relative;
  font-size: 16px;
  text-align: center;
}

.login-form .form-group .pass-type {
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}

.login-form .form-group input {
  height: 50px;
  border: 1px solid rgba(97, 90, 191, 0.2);
  background: #ffffff;
  padding: 0 75px;
}

.login-form .form-group label {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #52606d;
}

.login-form .form-group a {
  color: #52606d;
}

.login-form .form-group .custom-button {
  font-size: 16px;
  height: 50px;
  padding: 0 50px;
}

.login-form .form-group.checkgroup {
  align-items: center;
  text-align: left;
}

.login-form .form-group.checkgroup input {
  width: 14px;
  height: 14px;
}

.login-form .form-group.checkgroup label {
  font-size: 14px;
  margin: 0;
  margin-top: 2px;
  line-height: 1.3;
  color: #171d1c;
  width: calc(100% - 14px);
}

@media (max-width: 575px) {
  .login-form .form-group input {
    padding: 0 30px 0 30px;
  }

  .login-form .form-group label {
    left: 10px;
  }

  .login-form .form-group .pass-type {
    right: 10px;
  }

  .flexGroup {
    flex-wrap: wrap;
  }

  .login-form .formInput {
    margin-right: 0px !important;
  }

  .login-form .formInput:last-child {
    margin-left: 0 !important;
  }
}

.form-control:focus {
  box-shadow: unset;
  border-color: #CED4DA;
}

small.text-muted.form-text {
  font-size: 14px;
  color: red !important;
}

label.form-label {
  font-size: 17px;
  margin-bottom: 3px;
}

.login-form .formInput {
  width: -webkit-fill-available;
  margin-right: 10px;
}

.login-form .formInput:last-child {
  margin-right: unset !important;
  margin-left: 10px;
}

/*Contact Section Starts Here*/
.contact-wrapper {
  position: relative;
  background: #ffffff;
  background-color: #ffffff;
  box-shadow: 0px 6px 18px 0px rgba(16, 5, 54, 0.17);
  padding-left: 40px;
}

@media (max-width: 991px) {
  .contact-wrapper {
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .contact-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contact-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.contact-form .form-group input {
  height: 60px;
  padding: 0 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #bccaea;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.contact-form .form-group input:focus {
  border-bottom: 1px solid #3f22b3;
}

.contact-form .form-group label {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: -moz-linear-gradient(166deg, #f22876 0%, #942dd9 100%);
  background: -webkit-linear-gradient(166deg, #f22876 0%, #942dd9 100%);
  background: linear-gradient(166deg, #f22876 0%, #942dd9 100%);
  box-shadow: 0px 3px 5px 0px rgba(162, 44, 202, 0.3);
  color: #ffffff;
  top: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}

.contact-form .form-group label.message {
  top: 0;
}

.contact-form .form-group textarea {
  padding: 5px 50px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #bccaea;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.contact-form .form-group textarea:focus {
  border-bottom: 1px solid #3f22b3;
}

.contact-form .form-group .custom-button {
  font-size: 16px;
  height: 50px;
  padding: 0 50px;
}

@media (max-width: 575px) {
  .contact-form .form-group input {
    padding: 0 0 0 40px;
  }

  .contact-form .form-group textarea {
    padding: 5px 0 5px 40px;
  }
}

.team-item {
  max-width: 220px !important;
  margin: 0 auto 30px;
  padding: 0 15px;
}

.team-item .team-inner {
  position: relative;
  padding: 0 10px;
}

.team-item .team-inner::before {
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 1.753px 3.595px 10px 0px rgba(44, 46, 69, 0.09);
}

.team-item .team-inner * {
  position: relative;
  z-index: 1;
}

.team-item .team-inner .team-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.team-item .team-inner .team-thumb a {
  display: block;
}

.team-item .team-inner .team-thumb img {
  width: 100%;
}

.team-item .team-inner .team-content {
  padding: 15px 10px 5px;
  text-align: center;
}

.team-item .team-inner .team-content .social {
  justify-content: center;
}

.team-item .team-inner .team-content .social li {
  padding: 2px;
}

.team-item .team-inner .team-content .social li a {
  color: #52606d;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
}

.team-item .team-inner .team-content .social li a:hover {
  color: #ee4730;
}

.team-item .team-inner .team-content .social li:nth-child(even) a {
  color: #ee4730;
}