.dashboard-widget {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 6px 18px 0px rgba(16, 5, 54, 0.17);
    padding: 30px 20px;
}

.sticky-menu {
    position: sticky;
    top: 120px;
}

@media screen and (min-width: 450px) {
    .dashboard-widget {
        padding: 30px;
    }
}

.dashboard-widget .user {
    text-align: center;
    margin-bottom: 30px;
}

.dashboard-widget .user .thumb-area {
    width: 100px;
    margin: 0 auto 30px;
    position: relative;
}

ul.dash-pro-body {
    margin-left: -40px;
}

.dashboard-widget .user .thumb-area .profile-pic-edit {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
    background: -moz-linear-gradient(135deg, #8739e6 0%, #5496ff 100%);
    background: -webkit-linear-gradient(135deg, #8739e6 0%, #5496ff 100%);
    background: linear-gradient(135deg, #8739e6 0%, #5496ff 100%);
    box-shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.product-search {
    margin: 10px;
    position: relative;
}

.product-search input {
    height: 100%;
    background: transparent;
    height: 37px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    border: 1px solid rgba(13, 21, 75, 0.15);
    font-size: 14px;
    padding-right: 30px;
}

.product-search button {
    height: 35px;
    width: 35px;
    text-align: center;
    background: #ffffff;
    font-size: 14px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    border: none;
}

.dashboard-widget .user .thumb-area .thumb {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.dashboard-widget .user .thumb-area .thumb img {
    width: 100%;

}

.dashboard-widget .user .content .title {
    margin-bottom: 0;
}

.dashboard-widget h2,
.dashboard-widget h3,
.dashboard-widget h4,
.dashboard-widget h5,
.dashboard-widget h6 {
    color: #37406f;
}

.dashboard-widget h2 a,
.dashboard-widget h3 a,
.dashboard-widget h4 a,
.dashboard-widget h5 a,
.dashboard-widget h6 a {
    color: #37406f;
}

.dashboard-widget .dashboard-title {
    border-bottom: 1px solid #d5d7f3;
}

.dashboard-widget .dashboard-title .title {
    padding-bottom: 20px;
}

.dashboard-menu li {
    padding: 0;
    margin-bottom: 1px;
    list-style: none;
}

.dashboard-menu li a {
    padding: 10px 20px;
    color: #37406f;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: block;
}

.dashboard-menu li a i {
    font-weight: 400;
    margin-right: 10px;
    color: #ee4730;
}

.dashboard-menu li a:hover,
.dashboard-menu li a.active {
    background: #f7f6fc;
}

.dashboard-item {
    border-radius: 20px;
    background-color: white;
    box-shadow: 2.487px 1.678px 57px 0px rgba(16, 5, 54, 0.13);
    margin-bottom: 30px;
    padding: 40px 15px 30px;
    text-align: center;
}

.dashboard-item .thumb {
    height: 80px;
    margin-bottom: 16px;
}

.dashboard-item .thumb img {
    max-width: 100%;
}

.dashboard-purchasing-tabs .nav-tabs {
    margin-bottom: 25px;
}

.dashboard-purchasing-tabs .nav-tabs li {
    padding: 0 10px;
}

.dashboard-purchasing-tabs .nav-tabs li:first-child {
    padding-left: 0;
}

.dashboard-purchasing-tabs .nav-tabs li:last-child {
    padding-right: 0;
}

.dashboard-purchasing-tabs .nav-tabs li a {
    padding: 10px 0;
    position: relative;
    color: #37406f;
}

.dashboard-purchasing-tabs .nav-tabs li a::after {
    bottom: -1px;
    left: 0;
    right: 100%;
    top: calc(100% - 3px);
    background: #ee4730;
    position: absolute;
    content: "";
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.dashboard-purchasing-tabs .nav-tabs li a.active::after {
    right: 0;
}

@media (min-width: 768px) {
    .dashboard-purchasing-tabs .nav-tabs li {
        padding: 0 20px;
    }

    .dashboard-purchasing-tabs .nav-tabs li a {
        font-size: 22px;
        font-weight: 500;
    }
}

.purchasing-table {
    width: 100%;
    font-size: 16px;
}

.purchasing-table thead th {
    color: #37406f;
}

.purchasing-table tbody tr {
    font-size: 16px;
    color: #171d1c;
    /* font-weight: 500; */
}

.purchasing-table tbody tr:hover {
    background: rgba(215, 217, 245, 0.078);
}

.purchasing-table tbody tr td {
    padding: 13px 0;
    border-bottom: 1px solid rgba(215, 217, 245, 0.502);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

@media (max-width: 767px) {
    .purchasing-table thead {
        display: none;
    }

    .purchasing-table tbody tr td {
        padding: 3px 7px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .purchasing-table tbody tr td:last-child {
        padding-bottom: 10px;
    }

    .purchasing-table tbody tr td:first-child {
        padding-top: 10px;
    }

    .purchasing-table tbody tr td::before {
        content: attr(data-purchase);
        color: #007ec3;
        text-transform: capitalize;
    }

    .purchasing-table tbody tr:hover {
        background: unset;
    }

    .purchasing-table tbody tr:nth-last-of-type(2n - 1) {
        background: rgba(215, 217, 245, 0.3);
    }
}






/*Profile Section Starts Here*/
.dash-pro-item .header {
    justify-content: space-between;
    margin-bottom: 30px;
}

.dash-pro-item .header .title {
    margin: 0;
    width: calc(100% - 80px);
}

.dash-pro-item .header .edit {
    text-align: right;
    width: 80px;
    cursor: pointer;
}

@media (max-width: 575px) {
    .dash-pro-item .header {
        margin-bottom: 20px;
    }

    .dash-pro-item .header .title {
        width: calc(100% - 70px);
    }

    .dash-pro-item .header .edit {
        width: 70px;
        font-size: 14px;
    }
}

.dash-pro-item .dash-pro-body li {
    color: #37406f;
    padding: 0;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.dash-pro-item .dash-pro-body li .info-name {
    width: 135px;
    position: relative;
    padding-right: 15px;
}

.dash-pro-item .dash-pro-body li .info-name:after {
    content: ":";
    position: absolute;
    right: 0;
}

.dash-pro-item .dash-pro-body li .info-value {
    width: calc(100% - 135px);
    padding-left: 20px;
}

.dash-pro-item .dash-pro-body li .info-value i {
    font-size: 14px;
}

@media (max-width: 575px) {
    .dash-pro-item .dash-pro-body li {
        margin-bottom: 12px;
    }

    .dash-pro-item .dash-pro-body li .info-name,
    .dash-pro-item .dash-pro-body li .info-value {
        width: 100%;
        padding: 0;
        font-size: 16px;
    }

    .dash-pro-item .dash-pro-body li .info-name::after,
    .dash-pro-item .dash-pro-body li .info-value::after {
        display: none;
    }

    .dash-pro-item .dash-pro-body li .info-name {
        color: #ee4730;
        margin-bottom: -3px;
    }
}

.dash-bid-item .header {
    justify-content: space-between;
    margin-bottom: 30px;
}

.dash-bid-item .header .title {
    margin: 0;
}

@media (max-width: 575px) {
    .dash-bid-item .header {
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .dash-bid-item .header .edit {
        font-size: 14px;
    }
}

.dash-bid-item .button-area {
    margin: -10px;
    border: none;
    flex-wrap: wrap;
}

.dash-bid-item .button-area li {
    padding: 10px;
}

.dash-bid-item .button-area li .custom-button {
    text-transform: capitalize;
}

.dash-bid-item .button-area li .custom-button.active {
    color: #ffffff;
    background: -moz-linear-gradient(92deg, #ff8359 0%, #ffdf40 100%);
    background: -webkit-linear-gradient(92deg, #ff8359 0%, #ffdf40 100%);
    background: linear-gradient(92deg, #ff8359 0%, #ffdf40 100%);
}

.dash-bid-item .button-area .list li {
    padding: 0 20px;
}

.sort-winning-bid {
    align-items: center;
    justify-content: center;
    color: #171d1c;
    font-size: 16px;
    padding: 10px;
}

.sort-winning-bid .item {
    margin-right: 8px;
}

.sort-winning-bid .select-bar {
    height: 37px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    width: 135px;
    padding: 0;
    padding-left: 30px;
}

.sort-winning-bid .select-bar .current {
    line-height: 37px;
    text-transform: capitalize;
    font-size: 16px;
    color: #171d1c;
}

.sort-winning-bid .select-bar::after {
    height: 7px;
    width: 7px;
    border-color: #171d1c;
}



.dashSerch {
    margin-left: unset !important;
}

.mb-40-60 {
    margin-bottom: 70px;
}




/*Alert Section Starts Here*/
.alert-widget ul {
    padding: 23px 0 20px;
    margin-bottom: -50px;
}

.alert-widget ul li {
    align-items: start;
    padding: 0;
    margin-bottom: 40px;
}

.alert-widget ul li input {
    width: 25px;
    height: 0;
    position: relative;
}

.alert-widget ul li input::after {
    position: absolute;
    content: "";
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #bccaea;
}

.alert-widget ul li input:checked::after {
    opacity: 1;
    background: url(../assets/css/img/check.png) no-repeat center center;
}

.alert-widget ul li label {
    width: calc(100% - 25px);
    margin: 0;
    padding-left: 30px;
}

.alert-widget ul li label .title {
    margin-bottom: 19px;
}

@media (max-width: 575px) {
    .alert-widget ul li label {
        padding-left: 20px;
    }
}

/*Refferral Section Starts Here*/
.referral-form {
    position: relative;
}

.referral-form input {
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid rgba(55, 64, 111, 0.2);
    background-color: #fbfcff;
    box-shadow: 4.822px 9.887px 8px 0px rgba(167, 169, 192, 0.13);
    padding: 0 20px;
}

.referral-form button.custom-button {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #ffffff;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .referral-form input {
        padding: 0 180px 0 20px;
    }

    .referral-form button.custom-button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0px 60px;
        margin: 0;
    }
}

.dashboard-widget .share-area {
    align-items: center;
    margin-bottom: -10px;
}

.dashboard-widget .share-area .left {
    margin-right: 10px;
    margin-bottom: 10px;
}

.dashboard-widget .share-area .social-icons {
    margin-bottom: 10px;
}

.dashboard-widget .share-area .social-icons li a {
    padding: 0;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
}

.dashboard-widget .share-area .social-icons li a:hover,
.dashboard-widget .share-area .social-icons li a.active {
    background: -webkit-linear-gradient(-103deg, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
    color: #ffffff;
}

.dashboard-widget .stats span {
    font-size: 18px;
    margin-left: 7px;
}

.dashboard-widget .stats:last-child {
    margin-bottom: -13px;
}

.referral-table {
    width: 100%;
}

.referral-table tr td,
.referral-table tr th {
    text-align: center;
}

.referral-table tr td:first-child,
.referral-table tr th:first-child {
    text-align: left;
}

.referral-table tr td:last-child,
.referral-table tr th:last-child {
    text-align: right;
}

.referral-table thead tr th {
    font-weight: 400;
    color: #37406f;
}

.referral-table tbody tr {
    font-size: 16px;
    color: #171d1c;
}

.referral-table tbody tr:hover {
    background: rgba(215, 217, 245, 0.078);
}

.referral-table tbody tr td {
    padding: 13px 0;
    border-bottom: 1px solid rgba(215, 217, 245, 0.502);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

@media (max-width: 575px) {
    .referral-table thead {
        display: none;
    }

    .referral-table tbody tr td {
        padding: 3px 7px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .referral-table tbody tr td:last-child {
        padding-bottom: 10px;
    }

    .referral-table tbody tr td:first-child {
        padding-top: 10px;
    }

    .referral-table tbody tr td::before {
        content: attr(data-label);
        color: #007ec3;
        text-transform: capitalize;
    }

    .referral-table tbody tr:hover {
        background: unset;
    }

    .referral-table tbody tr:nth-last-of-type(2n - 1) {
        background: rgba(215, 217, 245, 0.3);
    }
}

.cart-sidebar-area .single-product-item .content .title a {
    color: #ffffff;
}

.cart-sidebar-area .single-product-item .content .title a:hover {
    color: #ee4730;
}

.form-control:focus {
    box-shadow: unset;
    border-color: #CED4DA;
}


@keyframes plus-anime {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1440deg);
        -ms-transform: rotate(1440deg);
        transform: rotate(1440deg);
    }
}

.plus-anime {
    animation: plus-anime 18s linear infinite;
    -webkit-animation: plus-anime 18s linear infinite;
    -moz-animation: plus-anime 18s linear infinite;
}

.zigzag {
    animation: zigzag 10s alternate infinite;
    -webkit-animation: zigzag 10s alternate infinite;
    -moz-animation: zigzag 10s alternate infinite;
}

.zigzag:nth-child(odd) {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}

@keyframes zigzag {
    0% {
        -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
        transform: translate(-10px, -10px);
    }

    25% {
        -webkit-transform: translate(10px, -10px);
        -ms-transform: translate(10px, -10px);
        transform: translate(10px, -10px);
    }

    50% {
        -webkit-transform: translate(-10px, 10px);
        -ms-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
    }

    75% {
        -webkit-transform: translate(10px, 10px);
        -ms-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }

    75% {
        -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
        transform: translate(-10px, -10px);
    }
}